@import url("https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}
body {
  background-color: #060010;
  min-height: 100vh;
}

@theme {
  --color-primary: #5044e5;
  --color-second: #271e37;
  --color-third: #060010;
  --color-white-white: #eeeeee;
}

.gradient-text {
  background: linear-gradient(to bottom, #eeeeee, #5044e5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradient-text-white {
  background: linear-gradient(to bottom, #eeeeee, rgba(255, 255, 255, 0.4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sub-text-gradient {
  background: #eeeeee;
  background: linear-gradient(
    90deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(108, 99, 235, 0.89) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
